{% extends 'base.html' %}
{% block title %}
<h3>所有职位</h3>
<br>
{% endblock %}
{% block center %}

{%for item in jobs %}
<div id = 'content_{{item.id}}'>
    <a href ='/jobs/{{item.id}}'>{{item.position}}</a>
</div>
{% endfor %}
<br>
<br>
<div>
{%if lastpage%}
<a href="/alljobs/{{lastpage}}">上一页</a>
{%endif%}
{%for page in lastpagenum%}
    <a href="/alljobs/{{page}}">{{page}}</a>
{% endfor %}
<a href="/alljobs/{{current_page}}" style="color: #FF0000">{{current_page}}</a>
{%for page in nextpagenum%}
    <a href="/alljobs/{{page}}">{{page}}</a>
{% endfor %}
{%if nextpage%}    
<a href="/alljobs/{{nextpage}}">下一页</a>
{%endif%}
</div>
{% endblock %}
    
